/** actual navigation links **/ 
.nav-bar-content {
  height: 0;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
  translate: -50%;
}
.nav-bar-content.expanded {
  height: 100%;
  translate: 0 0;
}

.nav-bar-content a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}

.nav-bar-content a:hover {
  text-decoration: underline;
}

.nav-bar-content a .nav-link-icon {
  aspect-ratio: 1/1;
  height: 1rem;
}

nav.navbar {
  margin: 10px 10px;
  height: 50px;
}
nav.navbar.expanded {
  height: auto;
  transition: 0.3s ease;
}

/** Hamburger Menu **/
.hamburger-menu {
  aspect-ratio: 1/1;
  height: 2em;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}


.hamburger-menu span {
  position: relative;
  display: flex;
  height: 23%;
  width: 100%;
  background: black;
  border-radius: 1rem;
  transition: 0.3s ease;
}

.hamburger-menu.expanded span:first-child {
  transform: rotate(-45deg);
  transform-origin: 90% 130%;
}
.hamburger-menu.expanded span:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.expanded span:last-child {
  transform: rotate(45deg);
  transform-origin: 85% -50%;
}

@media (min-width: 500px) {
  .hamburger-menu {
    display: none;
  }

  .nav-bar-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    translate: 0 0;
    font-size: 20px;
    margin-top: 5px;
  }
}