.nav-bar-content {
  display: none;
}

nav.navbar {
  margin: 10px 10px;
}

.hamburger-menu {
  aspect-ratio: 1/1;
  height: 2em;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}


.hamburger-menu span {
  position: relative;
  display: flex;
  height: 23%;
  width: 100%;
  background: black;
  border-radius: 1rem;
  transition: 0.3s ease;
}
.hamburger-menu.expanded span:first-child {
  transform: rotate(-45deg);
  transform-origin: 90% 130%;
}
.hamburger-menu.expanded span:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.expanded span:last-child {
  transform: rotate(45deg);
  transform-origin: 85% -50%;
}